@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,700|Slabo+27px');
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
body {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}


/* ----------------------------------------
Typography
------------------------------------------- */
p {
  font-family: 'Slabo 27px', serif;
  text-transform: none;
}
h2 {
  font-size: 45px;
}

/* ----------------------------------------
Grid System
------------------------------------------- */

.col-2-3 {
  flex-basis: 65%;
}
.col-1-3 {
  flex-basis: 30%;
}
.col-1-2 {
  flex-basis:49%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  justify-content: space-between;
  color: #193441;
}
.wrap {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
  padding: 24px;
}

.grid-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.image-wrapper {
	width: 32%;
}


/* ----------------------------------------
Header
------------------------------------------- */

nav li {
  display: inline-block;
  flex-wrap: wrap;
  margin: 8px;
}
nav li a {
  text-decoration: none;
  color: #193441;
}
nav li a:hover {
  color: #8E2800;
}
header {
  background-image: url('../img/dan-dan.jpg');
  background-size: cover;
	background-attachment: fixed;
  background-position: bottom;
  padding: 130px;
}
header img {
  display: block;
  margin: 0 auto;
  z-index: 100;
  height: 100px;
  width: 100px;
}
img {
  display: block;
  margin: 0 auto;
}
#gallery img:hover {
  opacity: 0.5;
}
nav {
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
}
nav ul {
  text-align: center;
  margin: 0;
  background-color: #FCFFF5;
}
.hamburger {
  display: none;
	font-size: 20px;
	margin: 10px 0;
	padding-left: 20px;
  color: #193441;
}
.hamburger:hover {
  color: #8E2800;
}


/* ----------------------------------------
About
------------------------------------------- */
.about {
  background-color: #193441;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
  color: #D1DBBD;
}
.about h2 {
  margin: 55px;
}
.about h3 {
  text-align: left;
}
.about-text {
  margin: 55px;
}
.aside {
  margin-top: 30px;
  margin-bottom: 30px;
}
.about h2 p {
  margin-left: 50px;
}
.about button {
  text-align: center;
  margin-left: 220px;
  font-size: 22px;
  color: #D1DBBD;
  background-color: #8E2800;
  padding: 10px;
}
.about button:hover {
  color: #193441;
  background-color: #D1DBBD;
}

/* ----------------------------------------
Menu
------------------------------------------- */
#menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 15px 0px 15px;
  justify-content: space-between;
  color: #193441;
  text-align: center;
  background-color: #FCFFF5;
}
#menu p {
  margin-top: 15px;
}
.sandwich {
  font-size:12px;
  font-weight: 400;
}
#menu h2 {
  margin-bottom: 0;
  font-size: 36px;
}
#menu h3 {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
}
.management{
  font-size: 12px;
  margin-bottom: 20px;
}
#lunch {
  border: 5px solid #8E2800;
  font-size: 16px;
  width: 200px;
  height: 600px;
  overflow: scroll;
}
#dinner {
  border: 5px solid #8E2800;
  width: 200px;
  height: 600px;
  font-size: 16px;
  overflow: scroll;
}
#tiki {
  border: 5px solid #8E2800;
  font-size: 16px;
  width: 200px;
  height: 600px;
  overflow: scroll;
}
#tiki h4 {
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 10px;
}
#lunch h4 {
  margin-top: 45px;
  margin-bottom: 10px;
}
#dinner h4 {
  margin-bottom: 10px;

}
.menu-header p a {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: #D1DBBD;
  text-align: center;
}
.menu-header p {
  padding: 0px;
  margin: 0px;
  margin-bottom: 8px;
}
.menu-header {
  color: #D1DBBD;
  text-align: center;
  background-image: url('../img/restaurant.jpg');
  background-size: cover;
  background-attachment: inherit;
  background-position: top;
}
.menu-header h2 {
  margin-bottom: 0px;
  padding-top: 10px;
  margin-top: 0px;
}
.menu-header h4 {
  margin-top: 0px;
  padding: 0px;
}
#top {
  font-size: 80px;
  margin-bottom: 0px;
}
#scroll {
  font-size: 15px;
  margin-bottom: 0px;
}


/* ----------------------------------------
Gallery
------------------------------------------- */
#gallery {
  color: #FCFFF5;
  padding: 105px 30px;
  background-color: #91AA9D;
  display: flex;
  flex-wrap: wrap;
}
.image-wrapper a:visited {
  color: #D1DBBD;
}
#gallery a {
  text-decoration: none;
}

/* ----------------------------------------
Exclusive
------------------------------------------- */
.exclusive {
  background-color: #D1DBBD;
  color: #193441;
  padding: 40px;
}
.exclusive h2, h3, h4 {
  text-align: center;
}
.exclusive h2 {
  margin-bottom: 0;
}
.exclusive h3 {
  margin-bottom: 0;
}
.exclusive h4 {
  font-weight: 400;
  margin: 0 0 50px 0;
  font-style: italic;
  font-size: 14px;
}
.exclusive p {
  text-align: center;
  margin: 0 55px 30px 55px;
}



/* ----------------------------------------
Footer
------------------------------------------- */

footer {
  text-align: center;
  background-color: #FCFFF5;
}
.copyright {
  margin-top: 70px;
  margin-bottom: 0;
  border-top: 2px solid #193441;
  padding: 15px 0 3px;
}

.social-links a {
	font-size: 30px;
	padding: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
	display: inline-block;
	color: #193441;
}
.social-links a:hover {
  color: #8E2800;
}
.submit:hover {
  color: #8E2800;
}

/* ----------------------------------------
About Ming
------------------------------------------- */
#aboutming h2 {
  text-align: center;
}
#aboutming .about-text {
  text-align: center;
}
#aboutming .aside {
  margin-top: 50px;
  text-align: center;
}
#aboutming h3 {
  text-align: center;
}
#aboutming img {
  margin-bottom: 50px;
}
#about-exclusive h4 {
  margin-bottom: 10px;
  text-transform: none;

}
  )

/* ----------------------------------------
Blue Ginger
------------------------------------------- */
#ginger-header {
  font-size: 20px;
  font-weight: 700;
}
#image-edit {
  margin-top: 70px;
}

/* ----------------------------------------
Media Queries
------------------------------------------- */

@media screen and (max-width: 970px) {
  #lunch {
    display: block;
    flex-basis: 100%;
  }
  #dinner {
    display: block;
    flex-basis: 100%;
  }
  #tiki {
    display: block;
    flex-basis: 100%;
  }
}
@media screen and (max-width: 660px) {
	.hamburger {
		display: block;
		text-align: center;
	}
	nav ul {
		display: none;
	}
	footer input {
		margin: 0px;
	}
  .about {
    display: block;
    text-align: center;
  }
  #lunch {
    display: block;
    flex-basis: 100%;
  }
  #dinner {
    display: block;
    flex-basis: 100%;
  }
  #tiki {
    display: block;
    flex-basis: 100%;
  }
  .image-wrapper {
    display: block;
    flex-basis: 100%;
  }
  .col-2-3 {
    display: block;
    flex-basis: 100%;
  }
  .col-1-3 {
    display: block;
    flex-basis: 100%;
    text-align: center;
  }
  .col-1-3 h3 {
    text-align: center;
  }
}
