@import url('https://fonts.googleapis.com/css?family=Oswald|Slabo+27px');
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
body {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}


/* ----------------------------------------
Typography
------------------------------------------- */
p {
  font-family: 'Slabo 27px', serif;
  text-transform: none;
}
h2 {
  font-size: 45px;
}

/* ----------------------------------------
Grid System
------------------------------------------- */

.col-2-3 {
  flex-basis: 65%;
}
.col-1-3 {
  flex-basis: 30%;
}
.col-1-2 {
  flex-basis:49%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  justify-content: space-between;
  color: #193441;
}
.wrap {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
  padding: 24px;
}

.grid-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.image-wrapper {
	width: 32%;
}


/* ----------------------------------------
Header
------------------------------------------- */

nav li {
  display: inline-block;
  flex-wrap: wrap;
  margin: 8px;
}
nav li a {
  text-decoration: none;
  color: #193441;
}
header {
  background-image: url('../img/dan-dan.jpg');
  background-size: cover;
	background-attachment: fixed;
  background-position: bottom;
  padding: 70px;
  z-index: -75;
}
img {
  display: block;
  margin: 0 auto;
  z-index: 100;
}
nav {
  background-color: #FCFFF5;
  padding: 0;
}
nav ul {
  text-align: center;
}

/* ----------------------------------------
About
------------------------------------------- */
.about {
  background-color: #193441;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
  color: #D1DBBD;
}
.about h2 {
  margin: 55px;
}
.about h3 {
  text-align: left;
}
.about-text {
  margin: 55px;
}
.aside {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* ----------------------------------------
Menu
------------------------------------------- */
#menu {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
  justify-content: space-between;
  color: #193441;
  text-align: center;
}
.sandwich {
  font-size:12px;
  font-weight: 400;
}
#menu h2 {
  margin-bottom: 0;
}
#menu h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}
.management{
  margin-top: 0;
  font-size: 12px;
}
#lunch {
  border: 5px solid #703030;
  font-size: 18px;
}
#dinner {
  border: 5px solid #703030;
}
#tiki {
  border: 5px solid #703030;
  font-size: 18px;
}


/* ----------------------------------------
Gallery
------------------------------------------- */
#gallery {
  color: #FCFFF5;
  padding: 105px 30px;
  background-color: #91AA9D;
}



/* ----------------------------------------
Exclusive
------------------------------------------- */
.exclusive {
  background-color: #D1DBBD;
  color: #193441;
  padding: 40px;
}
.exclusive h2, h3, h4 {
  text-align: center;
}
.exclusive h2 {
  margin-bottom: 0;
}
.exclusive h3 {
  margin-bottom: 0;
}
.exclusive h4 {
  font-weight: 400;
  margin: 0 0 50px 0;
  font-style: italic;
  font-size: 14px;
}
.exclusive p {
  text-align: center;
  margin: 0 55px 30px 55px;
}



/* ----------------------------------------
Footer
------------------------------------------- */

footer {
  text-align: center;
  padding: 100px;
}

.copyright {
  margin-top: 30px;
  margin-bottom: 0;
}
